<div class='iframed'>
  <!--
  <iframe src='https://127.0.0.1:8501/tracking/<%= params[:page] %>' frameborder="0" width='100%'>
  <iframe src='https://127.0.0.1:8501/tracking/<%= params[:page] %>' frameborder="0" width='100%'>
  -->
  <iframe src=<%= streamlit_url %> frameborder="0" width='100%'></iframe>
</div>
