<div class='home'>
  <article>
    <h1 class='text-center text-4xl my-16'>방문을 환영합니다</h1>

    <p class='my-12'>
    AI IoT LAB 에서는 딥러닝 기반의 영상 추적과 모터 제어 솔루션을 연구합니다.
    </p>

    <ul>
      <li>
        Yolo 와 OpenCV 를 활용한 영상 추적 데모를 보려면 <%= link_to('여기', tracking_path) %> 를 클릭하세요. 
      </li>
      <li>
        모터 콘트롤에 대한 정보를 보려면 <%= link_to('여기', motors_path) %> 를 클릭하세요. 
      </li>

      <li>
        문서 아카이브를 방문한 학생은 <%= link_to('여기', archive_path) %> 를 클릭하세요.
      </li>
    </ul>
  </article>  
</div>



