<header>
  <h1 class=''>AI IoT LAB</h1>
  <p class=''>Object Tracking and Motor Control powered by Deep Learning</p>
  <nav>
    <ul>
      <li><a class='' href="/">소개</a></li>
      <li><a class='' href="/tracking">오브젝트 트래킹</a></li>
      <li><a class='' href="/motors">모터 제어</a></li>
      <li><a class='' href="/archive">문서 아카이브</a></li>
    </ul>
  </nav>
</header>

